@import "media";

%background-image {
    background: {
        size: cover;
        attachment: fixed;
        position: center;
        repeat: no-repeat;
    }
    position: relative;
    height: 100%;
}

%btn-style {
    border-color: $ggrey;
    color: $ggrey;
    &:hover {
        background-color: $ggrey;
        color: $gorange;
    }
}


%box-shadow {
    -webkit-box-shadow: 10px 10px 20px -7px rgba(77,77,77,1);
    -moz-box-shadow: 10px 10px 20px -7px rgba(77,77,77,1);
    box-shadow: 10px 10px 20px -7px rgba(77,77,77,1);
}




%info-text {
    padding: 10px;
        font-size: 0.8rem;
        @include tablet {
            font-size: 1rem;    
        }
        @include desktop {
            font-size: 1.2rem;    
        }
        @include large-desktop {
            font-size: 1.4rem;    
        }
    }

%responsive-mapbox {
    width: 90vw;
    height: 45vh;
    @include tablet {
        width: 80vw;
        height: 40vh;
    }
    @include desktop {
        width: 90vw;
        height: 45vh;
    }
    @include large-desktop {
        width: 90vw;
        height: 50vh;
    }
    @extend %box-shadow;
    
}

%responsive-eventbox {
    width: 90vw;
    height: 45vh;
    @include tablet {
        width: 80vw;
        height: 38vh;
    }
    @include desktop {
        width: 90vw;
        height: 45vh;
    }
    @include large-desktop {
        width: 90vw;
        height: 45vh;
    }
    @extend %box-shadow;
    
}