///////////universal styles/////////////

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(rgba(245, 135, 64, 0.1), rgba(245, 135, 64, 0.1)), url("../../assets/images/glasgow-images/flkrfinniestoncrane.jpg");
    @extend %background-image;
    background-color: $gorange;
    color: $ggrey;
    font-family: "Rubik", sans-serif;
    @include mobile-only {
        background: {
        size: 100%, 206vh;;
        attachment: unset;
        position: top;
        repeat: repeat-y;
        }
    }
    @include tablet {
        background: {
        size: 100%, 206vh;;
        attachment: unset;
        position: top;
        repeat: repeat-y;
        }
    }
}
   
.hidden {
    visibility: hidden;
}

.breaker {
    height: 40%;
}

#s2,
#s3,
#s4 {
    opacity: 0;
    transition: all 0.8s ease-in;
}

#s2.fade-in,
#s3.fade-in,
#s4.fade-in {
    opacity: 1;
    transform: translateY(0);
}



section {
    height: 100%;
    display: block;
    
}

.section-heading {
    font-size: 1.8rem;
    padding-top: 10px;
    @include desktop {
        font-size: 2rem;
    }
    @include large-desktop {
        font-size: 3rem;
    }
}

.section2,
.section4 {
    background-color: $gorange;
    padding-top: 10px;
    -webkit-box-shadow: 0px 0px 15px 20px rgba(208, 83, 0, 1);
    -moz-box-shadow: 0px 0px 15px 20px rgba(208, 83, 0, 1);
    box-shadow: 0px 0px 15 20px rgba(208, 83, 0, 1);
}

.section3 {
    background-color: $gbeige;
    padding-top: 10px;
    -webkit-box-shadow: 0px 0px 15px 20px rgba(240, 235, 218, 1);
    -moz-box-shadow: 0px 0px 15px 20px rgba(240, 235, 218, 1);
    box-shadow: 0px 0px 15px 20px rgba(240, 235, 218, 1);
    
}

.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    @include desktop {
        justify-content: flex-end;
    }
    @include large-desktop {
        justify-content: flex-end;
    }
}

.dropdown-menu {
    color: inherit;
    background-color: $gbeige;
    @extend %info-text;
}

.btn-menu {
    margin: 0;
    padding: 4px 12px;
    @extend %btn-style;
}

.btn-top {
    @extend %btn-style;
}

#btn-to-top {
    padding: 6px 4px;
    right: 0;
    position: absolute;
    top: 86%;
    margin-right: 16px;
}


.choose-language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 24px;
}


.scroll-section {
    height: 100%;
    padding: 0px;
}

.row {
    margin: 0px
}

a {
    text-decoration: none;
    color: $gorange;
    &:hover {
        color: $ggrey;
        text-decoration: underline;
    }
}

////////////site-heading styles////////////////

.section-heading {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

h2 {
    .section-heading & {
        width: 100%;
    }
}


.site-heading {
    color: $gbeige;
    font-size: 3rem;
    letter-spacing: 0.6rem;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0.4rem solid $gbeige;
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    animation: flicker 1.5s infinite alternate;
    @include tablet {
        font-size: 6rem;
        letter-spacing: 0.8rem;
    }
    @include desktop {
        font-size: 10rem;
        letter-spacing: 1rem;
    }
    @include large-desktop {
        font-size: 12rem;
        letter-spacing: 1.2rem;
    }
}


/////////// food and drink styles ////////////

.food-drink-images,
.events-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    
}

.food-drink-img,
.events-img {
    width: 25%;
    padding: 0;
    @include desktop {
        width: 27%;
    }
    @include large-desktop {
        width: 25.5%;
    }
}
   
.img-1 {
    transform: rotate(-14deg);
    z-index: 1;
    @extend %box-shadow;
} 

#ashton-lane
    {
    width: 40%;
    @include tablet {
        width: 30%;
    }
    @include desktop {
        width: 30%;
    }
    @include large-desktop {
        width: 32.5%;
    }
    @extend %box-shadow;
}

.img-3 {
    transform: rotate(13deg);
    @extend %box-shadow;
}
    
.food-drink-info,
.events-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        padding-right: 110px;
    }
    @include large-desktop {
        flex-direction: row;
        padding-right: 110px;
    }
}
   
p {
    .food-drink-info & {
        @extend %info-text;
        text-align: center;
    }
}

.food-drink-map,
.events-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    @include desktop {
        padding-top: 25px;
    }
    @include large-desktop {
        padding-top: 25px;
    }
    
}

#places-map {
    @extend %responsive-mapbox;
}

div {
    .gm-style-mtc & {
        height: 25px !important;
        font-size: 16px !important;
        padding: 0px 10px !important;
    }
}

.gm-style-iw {
    max-height: 175px !important;
    overflow: scroll;
}


/////////// event styles ////////////



p {
    .events-info & {
        @extend %info-text;
        text-align: center;
    }
}

.event-details {
         @extend %info-text;
}

.event-title {
    font-size: 1.1rem;
    @include tablet {
        font-size: 1.2rem;
    }
    @include desktop {
        font-size: 1.5rem
    }
    @include large-desktop {
        font-size: 1.8rem
    }
}


#muraltrail {
    transform: rotate(-14deg);
    z-index: 1;
    width: 28%;
    @include tablet {
        width: 28%;
    }
    @include desktop {
        width: 30%;
    }
    @include large-desktop {
        width: 32.5%;
    }
    @extend %box-shadow;
} 

#barrowland {
    width: 40%;
    @include tablet {
        width: 36%;
    }
    @include desktop {
        width: 40%;
    }
    @include large-desktop {
        width: 42.5%;
    }
    @extend %box-shadow;
}

#kelvingrove {
    transform: rotate(13deg);
    @extend %box-shadow;
    width: 20%;
    @include tablet {
        width: 20%;
    }
    @include desktop {
        width: 24%;
    }
    @include large-desktop {
        width: 25%;
    }
}


#events-list {
    overflow-y: scroll;
    @extend %responsive-eventbox;
    background-color: $gbeige;
    &::-webkit-scrollbar {
        width: 6px;
        background-color: $gbeige;
        
    }
    &::-webkit-scrollbar-button {
        visibility: hidden;
    }
    &::-webkit-scrollbar-thumb {
        width: 6px;
        background-color: $gorange;
    }
    
}







/////////// weather styles ////////////

p {
    #weather-data & {
        @extend %info-text;
        text-align: center;   
    }
}

.weather-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 70%;
}


.weather-data {
    padding-right: 10px;
    @extend %info-text;
}
.weather-img {
    @extend %box-shadow;
    transform: rotate(-11deg);
    margin-top: 50px;
    
}
.weather-comment-img {
    position: absolute;
    width: 77%;
    z-index: auto;
    top: -9%;
    left: 13%;
    @include tablet {
        width: 69%;
        top: -3%;
    
    }
    @include desktop {
        top: 0%;
    }
    @include large-desktop {
        top: 17%;
    }
}

.weather-comment-speech {
    position: absolute;
    z-index: 1;
    width: 36%;
    left: 64%;
    top: -1%;
    @include tablet {
        
    }
    @include desktop {
        left: 53%;
    }
    @include large-desktop {
        left: 40%;
        top: 0%;
    }
}

.weather-comment-text {
    position: absolute;
    z-index: 2;
    left: 69%;
    top: 4%;

    @include tablet {
        left: 69%;
        top: 9%;
    }
    @include desktop {
       left: 58%;
       top: 10%;
    }
    @include large-desktop {
        left: 45.5%;
        top: 10%;
    }
}

#weather-comment {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    @include tablet {
        font-size: 1.8rem;
        
    }
    @include desktop {
        font-size: 2.3rem;
       
    }
    @include large-desktop {
        font-size: 3rem;
        
    }
}

#speech-bubble {
    width: 90%;
}

#weather-comment-button {
    margin-left: 10px;
}