body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100%; }

.btn-mod, .btn-menu, .btn-top {
  border-color: #1b1b1b;
  color: #1b1b1b;
  margin: 0px; }
  .btn-mod:hover, .btn-menu:hover, .btn-top:hover {
    background-color: #1b1b1b;
    color: #d05300; }
  .btn-mod:active, .btn-menu:active, .btn-top:active {
    background-color: #1b1b1b !important;
    color: #d05300 !important; }
  .btn-mod:focus, .btn-menu:focus, .btn-top:focus {
    background-color: #1b1b1b !important;
    color: #d05300 !important; }

#places-map, #events-list, .img-1, #ashton-lane, .img-3, #muraltrail, #barrowland, #kelvingrove, .weather-img {
  -webkit-box-shadow: 10px 10px 20px -7px #4d4d4d;
  -moz-box-shadow: 10px 10px 20px -7px #4d4d4d;
  box-shadow: 10px 10px 20px -7px #4d4d4d; }

.dropdown-menu, .food-drink-info p, .events-info p, .event-details, #weather-data p, .weather-data {
  padding: 10px;
  font-size: 0.8rem;
  margin-bottom: 6px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .dropdown-menu, .food-drink-info p, .events-info p, .event-details, #weather-data p, .weather-data {
      font-size: 1rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .dropdown-menu, .food-drink-info p, .events-info p, .event-details, #weather-data p, .weather-data {
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .dropdown-menu, .food-drink-info p, .events-info p, .event-details, #weather-data p, .weather-data {
      font-size: 1.4rem; } }

#places-map {
  width: 90vw;
  height: 38.5vh; }
  @media (min-width: 768px) and (max-width: 991px) {
    #places-map {
      width: 80vw;
      height: 40vh; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #places-map {
      width: 90vw;
      height: 45vh; } }
  @media (min-width: 1200px) {
    #places-map {
      width: 90vw;
      height: 50vh; } }

#events-list {
  width: 90vw;
  height: 44.5vh; }
  @media (min-width: 768px) and (max-width: 991px) {
    #events-list {
      width: 80vw;
      height: 38vh; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #events-list {
      width: 90vw;
      height: 45vh; } }
  @media (min-width: 1200px) {
    #events-list {
      width: 90vw;
      height: 45vh; } }

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: -0.2rem -0.2rem 1rem #f0ebda, 0.2rem 0.2rem 1rem #f0ebda, 0 0 2rem #d05300, 0 0 4rem #d05300, 0 0 6rem #d05300, 0 0 8rem #d05300, 0 0 10rem #d05300;
    box-shadow: 0 0 0.5rem #f0ebda, inset 0 0 0.5rem #f0ebda, 0 0 2rem #d05300, inset 0 0 2rem #d05300, 0 0 4rem #d05300, inset 0 0 4rem #d05300; }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none; } }
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0ebda;
  text-align: center;
  padding-top: 5px;
  -webkit-box-shadow: 0px 0px 21px 2px rgba(240, 235, 218, 0.75);
  -moz-box-shadow: 0px 0px 21px 2px rgba(240, 235, 218, 0.75);
  box-shadow: 0px 0px 21px 2px rgba(240, 235, 218, 0.75); }

.footer-info img {
  width: 8%; }

.footer-info p {
  font-size: 0.7rem;
  margin-bottom: 3px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .footer-info p {
      font-size: 0.9rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .footer-info p {
      font-size: 1rem; } }
  @media (min-width: 1200px) {
    .footer-info p {
      font-size: 1.2rem; } }

.footer-icons i {
  color: #d05300;
  margin: 0px 12px;
  padding: 0;
  font-size: 2rem; }
  .footer-icons i:hover {
    color: #1b1b1b; }

hr {
  margin: 10px 0 3px 0; }

.modal-dialog {
  background-color: #f0ebda; }

.modal-header {
  background-color: #d05300; }

#contactForm input, #contactForm
button {
  margin: 10px 0; }

#email-message {
  text-align: center;
  color: green;
  font-family: inherit; }

html {
  height: 100%; }

body {
  height: 100%;
  background-image: linear-gradient(rgba(245, 135, 64, 0.1), rgba(245, 135, 64, 0.1)), url("../../assets/images/glasgow-images/flkrfinniestoncrane.jpg");
  background-color: #d05300;
  color: #1b1b1b;
  font-family: "Rubik", sans-serif; }
  @media (max-width: 767px) {
    body {
      background-size: 100%, 206vh;
      background-attachment: unset;
      background-position: top;
      background-repeat: repeat-y; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      background-size: 100%, 206vh;
      background-attachment: unset;
      background-position: top;
      background-repeat: repeat-y; } }

.hidden {
  visibility: hidden; }

.breaker {
  height: 40%; }

#s2,
#s3,
#s4 {
  opacity: 0;
  transition: all 0.8s ease-in; }

#s2.fade-in,
#s3.fade-in,
#s4.fade-in {
  opacity: 1;
  transform: translateY(0); }

section {
  height: 100%;
  display: block; }

.section-heading {
  font-size: 1.8rem;
  padding-top: 10px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .section-heading {
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    .section-heading {
      font-size: 3rem; } }

.section2,
.section4 {
  background-color: #d05300;
  padding-top: 10px;
  -webkit-box-shadow: 0px 0px 15px 20px #d05300;
  -moz-box-shadow: 0px 0px 15px 20px #d05300;
  box-shadow: 0px 0px 15 20px #d05300; }

.section3 {
  background-color: #f0ebda;
  padding-top: 10px;
  -webkit-box-shadow: 0px 0px 15px 20px #f0ebda;
  -moz-box-shadow: 0px 0px 15px 20px #f0ebda;
  box-shadow: 0px 0px 15px 20px #f0ebda; }

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .navbar {
      justify-content: flex-end; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .navbar {
      justify-content: flex-end; } }

.dropdown-menu {
  color: inherit;
  background-color: #f0ebda; }

.btn-menu {
  margin: 0;
  padding: 4px 12px; }

#btn-to-top {
  padding: 6px 4px;
  right: 0;
  position: absolute;
  top: 86%;
  margin-right: 16px; }

.choose-language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 24px; }

.scroll-section {
  height: 100%;
  padding: 0px; }

.row {
  margin: 0px; }

a {
  text-decoration: none;
  color: #d05300; }
  a:hover {
    color: #1b1b1b;
    text-decoration: underline; }

.section-heading {
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 10px; }

.section-heading h2 {
  width: 100%; }

.site-heading {
  color: #f0ebda;
  font-size: 3rem;
  letter-spacing: 0.6rem;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.4rem solid #f0ebda;
  border-radius: 2rem;
  transform: translate(-50%, -50%);
  animation: flicker 1.5s infinite alternate; }
  @media (min-width: 768px) and (max-width: 991px) {
    .site-heading {
      font-size: 6rem;
      letter-spacing: 0.8rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .site-heading {
      font-size: 10rem;
      letter-spacing: 1rem; } }
  @media (min-width: 1200px) {
    .site-heading {
      font-size: 12rem;
      letter-spacing: 1.2rem; } }

.food-drink-images,
.events-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px; }

.food-drink-img,
.events-img {
  width: 25%;
  padding: 0; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .food-drink-img,
    .events-img {
      width: 27%; } }
  @media (min-width: 1200px) {
    .food-drink-img,
    .events-img {
      width: 25.5%; } }

.img-1 {
  transform: rotate(-14deg);
  z-index: 1; }

#ashton-lane {
  width: 40%; }
  @media (min-width: 768px) and (max-width: 991px) {
    #ashton-lane {
      width: 30%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #ashton-lane {
      width: 30%; } }
  @media (min-width: 1200px) {
    #ashton-lane {
      width: 32.5%; } }

.img-3 {
  transform: rotate(13deg); }

.food-drink-info,
.events-info {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .food-drink-info,
    .events-info {
      flex-direction: row;
      padding-right: 110px; } }
  @media (min-width: 1200px) {
    .food-drink-info,
    .events-info {
      flex-direction: row;
      padding-right: 110px; } }

.food-drink-info p {
  text-align: center; }

.food-drink-map,
.events-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 4px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .food-drink-map,
    .events-container {
      padding-top: 25px; } }
  @media (min-width: 1200px) {
    .food-drink-map,
    .events-container {
      padding-top: 25px; } }

.gm-style-mtc div {
  height: 25px !important;
  font-size: 16px !important;
  padding: 0px 10px !important; }

.gm-style-iw {
  max-height: 175px !important;
  overflow: scroll; }

.events-info p {
  text-align: center; }

.event-title {
  font-size: 1.1rem; }
  @media (min-width: 768px) and (max-width: 991px) {
    .event-title {
      font-size: 1.2rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .event-title {
      font-size: 1.5rem; } }
  @media (min-width: 1200px) {
    .event-title {
      font-size: 1.8rem; } }

#muraltrail {
  transform: rotate(-14deg);
  z-index: 1;
  width: 28%; }
  @media (min-width: 768px) and (max-width: 991px) {
    #muraltrail {
      width: 28%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #muraltrail {
      width: 30%; } }
  @media (min-width: 1200px) {
    #muraltrail {
      width: 32.5%; } }

#barrowland {
  width: 40%; }
  @media (min-width: 768px) and (max-width: 991px) {
    #barrowland {
      width: 36%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #barrowland {
      width: 40%; } }
  @media (min-width: 1200px) {
    #barrowland {
      width: 42.5%; } }

#kelvingrove {
  transform: rotate(13deg);
  width: 20%; }
  @media (min-width: 768px) and (max-width: 991px) {
    #kelvingrove {
      width: 20%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #kelvingrove {
      width: 24%; } }
  @media (min-width: 1200px) {
    #kelvingrove {
      width: 25%; } }

#events-list {
  overflow-y: scroll;
  background-color: #f0ebda; }
  #events-list::-webkit-scrollbar {
    width: 6px;
    background-color: #f0ebda; }
  #events-list::-webkit-scrollbar-button {
    visibility: hidden; }
  #events-list::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #d05300; }

#weather-data p {
  text-align: center; }

.weather-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70%; }

.weather-data {
  padding-right: 10px; }

.weather-img {
  transform: rotate(-11deg);
  margin-top: 50px; }

.weather-comment-img {
  position: absolute;
  width: 77%;
  z-index: auto;
  top: -9%;
  left: 13%; }
  @media (min-width: 768px) and (max-width: 991px) {
    .weather-comment-img {
      width: 69%;
      top: -3%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .weather-comment-img {
      top: 0%; } }
  @media (min-width: 1200px) {
    .weather-comment-img {
      top: 17%; } }

.weather-comment-speech {
  position: absolute;
  z-index: 1;
  width: 36%;
  left: 64%;
  top: -1%; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .weather-comment-speech {
      left: 53%; } }
  @media (min-width: 1200px) {
    .weather-comment-speech {
      left: 40%;
      top: 0%; } }

.weather-comment-text {
  position: absolute;
  z-index: 2;
  left: 69%;
  top: 4%; }
  @media (min-width: 768px) and (max-width: 991px) {
    .weather-comment-text {
      left: 69%;
      top: 9%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .weather-comment-text {
      left: 58%;
      top: 10%; } }
  @media (min-width: 1200px) {
    .weather-comment-text {
      left: 45.5%;
      top: 10%; } }

#weather-comment {
  font-size: 0.9rem;
  width: 100%;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    #weather-comment {
      font-size: 1.8rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #weather-comment {
      font-size: 2.3rem; } }
  @media (min-width: 1200px) {
    #weather-comment {
      font-size: 3rem; } }

#speech-bubble {
  width: 90%; }

#weather-comment-button {
  margin-left: 10px; }

/*# sourceMappingURL=main.css.map */
