.modal-dialog {
    background-color: $gbeige;
}

.modal-header {
    background-color: $gorange;
}

input,
button {
    #contactForm & {
        margin: 10px 0;
    }
}

.btn-mod {
    @extend %btn-style 
}

#email-message {
    text-align: center;
    color: green;
    font-family: inherit;
}